.clearfix{
	overflow: hidden;
}

.area-margin{
	background: rgba(#f90,.5);
	width: 100%;
	z-index: -1;
}

.area-padding{
	background: #2b81af;
}

.description{
	background: rgba(#fff,.2);
	padding:1em;


	> *:first-child{
		margin-top: 0;
	}

	> *:last-child{
		margin-bottom: 0;
	}
}

.code-container{
	position: relative;

	> code{
		opacity: .1;
		position: absolute;
		top: 5px;
		right: 5px;
		background: #333;
		color: #fff;
		padding: 2px;
		font-size: 12px;
	}

	&:hover{
		> code{
			opacity: 1;
		}
	}
}