
html {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	background: #eee;
}

.raster {
	overflow: hidden;
	background-color: #269;
	background: #ccc;
	background-image: linear-gradient(rgba(255, 255, 255, .2) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255, 255, 255, .2) 1px, transparent 1px),
	linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
	background-size: 5rem 5rem, 5rem 5rem, 1rem 1rem, 1rem 1rem;
	background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px
}

.main-header {
	background: #222;
	color: #fff;
	border-bottom: 3px solid white;
}

.title {
	display: inline-block;
}

h1 {
	font-weight: 100;
	letter-spacing: .3em;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
}

.clearfix {
	overflow: hidden;
}

.area-margin {
	background: #f90;
	//border: 2px solid #fff;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 10px);
}

.area-padding {
	background: #aa00ee;
	//border: 2px solid #fff;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 10px);
}

.area-gray {
	background: #333;
	//border: 2px solid #fff;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 10px);
}


.description {
	background: rgba(#fff, 1);
	padding: 1em;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

code{
	border: 1px solid #eee;
	padding: 5px;
	display: inline-block;
}